body {
  margin: 0;
  padding: 0;
  background: url(Images/background.jpg) no-repeat;
  background-size: cover;
}

.page {
  width: 440px;
  background: rgba(0,0,0,0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  color: white;
  font-family: 'Century Gothic', sans-serif;
}

.page li {
  display: inline-block;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
}
.page li a {
  color: yellow;
  text-decoration: none;
  font-size: 30px;
  transition: all ease-in-out 200ms;
}
.page li a:hover {
  color: #b9b9b9;
}
.page-img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
}
.page h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.page h4 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
  margin: 35px 0px;
}

.page p {
  text-align: justify;
}

ul{
  margin: 0;
  padding: 0;
}
